.categoryContainer {
  width: 100%;
  padding: 0 2rem;
  margin: 0;
  color: #31363f;
  margin-bottom: 10px;
}

.seccion h2 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #31363f;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loading .one,
.two,
.three,
.four {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: absolute;
  animation: load 2s infinite;
}
.one {
  background: rgb(211, 225, 7);
  animation-delay: -2s;
}
.two {
  background: rgb(7, 225, 18);
  animation-delay: -1.5s;
}
.three {
  background: rgb(163, 7, 225);
  animation-delay: -1s;
}
.four {
  background: rgb(255, 12, 105);
  animation-delay: -0.5s;
}

@keyframes load {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(180%);
  }
  50% {
    transform: translate(180%, 180%);
  }
  75% {
    transform: translate(0, 180%);
  }
}

@media (min-width: 420px) and (max-width: 599px) {
  .cardContainer {
    align-items: center;
    flex-direction: column;
  }

  .seccion h2 {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (max-width: 719px) {
  .cardContainer {
    align-content: center;
    flex-direction: column;
  }

  .seccion h2 {
    font-size: 25px;
    padding-left: 38px;
  }
}

@media (min-width: 720px) and (max-width: 1240px) {
  .cardContainer {
    justify-content: space-evenly;
  }

  .seccion {
    padding: 0;
  }

  .seccion h2 {
    font-size: 25px;
    margin-top: 10px;
    padding-left: 32px;
  }
}
@media (min-width: 1241px) and (max-width: 1460px) {
  .seccion {
    padding: 0;
  }

  .seccion h2 {
    font-size: 25px;
    margin-top: 10px;
  }
}
