.featuresContainer {
  padding: 0 40px;
  font-family: Roboto;
  margin-top: 30px;
  color: #545776;
}

.lineBottom {
  border-bottom: solid 3px rgb(35, 172, 177);
  width: 100%;
  height: 10px;
}

.featureIcons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 30px;
  grid-row-gap: 20px;
}
.featureIcons span {
  color: rgb(35, 172, 177);
  margin-right: 10px;
  font-size: 18px;
}

.featureIcons .feature {
  display: flex;
}

@media (min-width: 320px) and (max-width: 769px) {
  .featureIcons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 30px;
    grid-row-gap: 20px;
  }
}
