.administrationFormContainer {
  margin: 0 40px;
  margin-top: 40px;
  padding-bottom: 40px;
  font-family: Roboto;
}

.formSection {
  background-color: #ffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
}

.formSection h3 {
  font-size: 17px;
  font-weight: 600;
}

.formSection label {
  color: #000;
  font-weight: 600;
  display: flex;
}

.formSection input {
  background-color: #e5e5e5;
  border-radius: 10px;
  margin: 0.5rem 0;
  width: 100%;
}

.formSection select {
  background-color: #e5e5e5;
  border-radius: 10px;
  margin: 0.5rem 0;
  width: 100%;
  height: 35px;
}

.formSection .descriptionText {
  background-color: #e5e5e5;
  border-radius: 10px;
  margin: 0.5rem 0;
  width: 100%;
  height: 250px;
  resize: none;
}

.principalData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px 40px;
}

.descriptionSection {
  margin-top: 20px;
}

.iconSection {
  border-radius: 10px;
  background-color: #f2ecec90;
}

.iconForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px 40px;
  padding: 20px;
}

.iconForm input {
  width: 100%;
  padding-top: 10px;
  margin: 0.5rem 0;
}

.iconSection button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #1dbeb4;
  font-size: 40px;
}

.policiesSection {
  margin-top: 20px;
}

.policies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px 40px;
  border: solid 3px #d7d1d1d3;
  border-radius: 10px;
  padding: 15px;
}

.policiesSubtitle {
  font-weight: 500;
  color: #545776;
  margin-bottom: 5px;
}

.policies textarea {
  width: 100%;
  resize: none;
  height: 300px;
  background-color: #e5e5e5;
}

.create {
  margin-top: 35px;
  width: 200px;
  margin-left: 17px;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #1dbeb4;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.createContainer {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  background-color: rgb(249 161 161 / 43%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .principalData {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .policies {
    grid-template-columns: repeat(1, 1fr);
  }
}
