.imagesUpload {
  margin-top: 20px;
}

.imagesUpload button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #1dbeb4;
  font-size: 40px;
}

.linkForm {
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 10px 40px;
  padding: 20px;
}

.linkContainer {
  border-radius: 10px;
  background-color: #f2ecec90;
}

.error {
  color: red;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  background-color: rgb(249 161 161 / 43%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}
